:root.dark {
	--surface: rgb(31 24 32);
	--input-background: rgb(26 23 27);
	--input-border: rgb(74 70 77);
	--alternative-border: rgb(63 63 89);
	--focus-border: rgb(133 136 166);
	--input-shadow: rgb(24 15 34);
	--hover-shadow: rgb(159 94 250 / 20%);
	--primary-color: rgb(216 200 231);
	--secondary-color: rgb(226 216 182);
	--editor-background: rgb(12 6 17);
	--error-color: rgb(212 101 91);
	--value-color: rgb(230 185 143);
	--key-color: rgb(136 190 184);
	--holder-color: rgb(166 145 125);
	--special-color: rgb(130 177 108);
	--unverified-color: rgb(103 109 112);
	--assert-color: var(--special-color);
	--number-color: rgb(196 114 43);
	--string-color: var(--special-color);
	--boolean-color: var(--error-color);
	--status-bar-background: rgb(12 8 13);
	--command-color: rgb(172 173 123);
	--notes-color: var(--command-color);
	--anchor-color: rgb(137 192 212);
	--visited-color: rgb(174 137 255);
	--tooltip-background: rgb(6 0 15);
	--tooltip-border: rgb(31 11 59);
	--card-head-background: rgb(19 15 24);
	--card-shadow: rgb(19 15 24 / 50%);
	--dialog-background: rgb(38 30 42);
}

:root {
	--surface: rgb(255 255 255);
	--input-background: rgb(245 245 245);
	--input-border: rgb(150 150 150);
	--alternative-border: rgb(152 152 214);
	--focus-border: rgb(100 100 120);
	--input-shadow: rgb(0 0 0 / 10%);
	--hover-shadow: rgb(0 0 0 / 10%);
	--primary-color: rgb(36 26 37);
	--secondary-color: rgb(51 51 51);
	--editor-background: rgb(227 213 241);
	--error-color: rgb(184 39 26);
	--value-color: rgb(102 66 29);
	--key-color: rgb(48 122 122);
	--holder-color: rgb(139 125 111);
	--special-color: rgb(39 170 61);
	--unverified-color: rgb(69 84 99);
	--assert-color: var(--special-color);
	--number-color: rgb(190 106 42);
	--string-color: var(--special-color);
	--boolean-color: var(--error-color);
	--status-bar-background: rgb(240 240 240);
	--command-color: rgb(116 116 40);
	--notes-color: var(--command-color);
	--anchor-color: rgb(36 74 88);
	--visited-color: rgb(52 33 92);
	--tooltip-background: rgb(222 213 236);
	--tooltip-border: rgb(145 104 196);
	--card-head-background: rgb(170 152 192);
	--card-shadow: rgb(170 152 192 / 50%);
	--dialog-background: rgb(189 181 194);

	font-family: Poppins, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: var(--primary-color);
	color-scheme: light dark;
	background-color: var(--surface);
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: background-color 100ms;
}

*::selection {
	color: var(--editor-background);
	background-color: var(--focus-border);
}

*:focus {
	outline: none;
}

#app {
	display: flex;
	flex-direction: column;
}

legend {
	font-size: 1.1rem;
	font-weight: 500;
}

form .field {
	display: flex;
	flex-basis: calc(2rem + 15ch);
	flex-direction: column;
	flex-grow: 1;
	gap: 6px;
	align-items: center;
	text-align: center;
}

form .field span {
	height: 1lh;
	overflow: hidden;
}

input,
select {
	font-size: 0.9rem;
}

a {
	position: relative;
	z-index: 1;
	overflow: hidden;
	color: var(--anchor-color);
}

a:visited {
	color: var(--visited-color);
}

a:hover {
	filter: brightness(105%) saturate(125%);
}

a::before {
	position: absolute;
	inset: -2px -6px;
	z-index: -1;
	width: calc(100% + 12px);
	height: calc(100% + 4px);
	content: '';
	border: 1px solid var(--focus-border);
	border-radius: 4px;
	transition: transform 200ms;
	transform: scaleY(0);
}

a:focus::before {
	transform: scaleY(100%);
}

form .field :where(input:where([type='text'], [type='number']), select, button),
.command-input {
	width: calc(100% - 4rem);
	height: 40px;
	padding-inline: 1rem;
	color: inherit;
	background: var(--input-background);
	border: 2px solid var(--input-border);
	border-radius: 8px;
	box-shadow: 0 0 16px var(--input-shadow);
	transition:
		border 200ms ease-out,
		box-shadow 200ms ease-out;
}

form .field :where(input:where([type='text'], [type='number']), select, button):hover,
.command-input:has(input:hover) {
	filter: brightness(120%);
}

form .field :where(input:where([type='text'], [type='number']), select, button):focus,
.command-input:has(input:focus) {
	--input-border: var(--focus-border);
}

form .field:has(input:hover, select:hover) span {
	filter: brightness(90%) saturate(200%);
}

form .field select option {
	height: 40px;
}

h3 {
	font-family: monospace;
}

:where(h1, h2, h3):not(.highlight, .not-colorize) {
	color: var(--secondary-color);
}

.highlight .command {
	color: inherit;
}

.highlight .command::before {
	font-weight: 700;
	color: var(--command-color);
	content: ':';
}

.highlight .optional {
	color: rgb(120 118 133);
}

.highlight .optional::before {
	content: '[';
}

.highlight .optional::after {
	content: ']';
}

.highlight .holder {
	font-style: italic;
	color: var(--holder-color);
	text-transform: capitalize;
}

.highlight .holder::before {
	content: '{';
}

.highlight .holder::after {
	content: '}';
}

.highlight .key {
	color: var(--key-color);
	text-transform: capitalize;
}

.highlight .key::before {
	content: '<';
}

.highlight .key::after {
	content: '>';
}

.highlight .value {
	color: var(--value-color);
}

.highlight .special {
	color: var(--special-color);
}

.monospace,
input {
	font-family: 'JetBrains Mono Variable', sans-serif;
}

.secondary {
	color: var(--secondary-color);
}

.status-bar .icon {
	--border-color: transparent;

	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	min-width: 44px;
	height: 44px;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: inherit;
	border: 2px solid var(--border-color);
}

.status-bar p,
.status-bar .icon:has(span),
.status-bar summary.icon {
	padding-inline: 0.5rem;
}

.status-bar .icon:hover {
	filter: brightness(125%);
	backdrop-filter: brightness(125%);
}

.status-bar .icon:focus {
	--border-color: var(--focus-border);
}

.status-bar .icon.dialog {
	background-color: var(--alternative-border);
}
