:root {
	--surface-1: 219 191 225;
	--surface-2: 207 186 224;
	--surface-3: 174 179 210;
	--input-background: 223 216 216;
	--input-border: 137 134 139;
	--alternative-border: 172 161 225;
	--focus-border: 105 82 119;
	--primary-color: 32 23 34;
	--secondary-color: 39 25 3;
	--editor-background: 238 230 253;
	--error-color: 139 4 20;
	--value-color: 97 59 19;
	--optional-color: 101 77 110;
	--key-color: 6 75 126;
	--holder-color: 73 62 48;
	--symbol-color: 6 78 19;
	--unverified-color: 45 52 60;
	--assert-color: var(--symbol-color);
	--number-color: 112 53 10;
	--string-color: var(--symbol-color);
	--boolean-color: var(--error-color);
	--status-bar-background: 213 209 234;
	--command-color: 72 56 106;
	--notes-color: var(--command-color);
	--anchor-color: 36 74 88;
	--visited-color: 52 33 92;
	--tooltip-background: 238 228 255;
	--tooltip-border: 145 104 196;
	--card-head-background: var(--status-bar-background);
	--card-shadow: 170 152 192;
	--dialog-header: 186 180 254;
	--dialog-background: 202 191 226;
	--input-shadow: 15 17 34;
	--hover-shadow: 49 2 114 / 20%;
	--focus-brightness: brightness(97%);
	--blink-background: 227 223 233;
	--icon-size: 48px;

	font-family: Poppins, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color-scheme: light dark;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}

:root.dark {
	--surface-1: 36 21 32;
	--surface-2: 31 24 32;
	--surface-3: 19 24 43;
	--input-background: 24 14 27;
	--input-border: 74 70 77;
	--alternative-border: 63 63 89;
	--focus-border: 133 136 166;
	--primary-color: 216 200 231;
	--secondary-color: 182 179 168;
	--editor-background: 12 6 17;
	--error-color: 248 121 123;
	--value-color: 233 178 127;
	--optional-color: 126 129 139;
	--key-color: 132 170 220;
	--holder-color: 166 145 125;
	--symbol-color: 84 171 133;
	--unverified-color: 130 134 135;
	--number-color: 215 140 71;
	--status-bar-background: 15 8 25;
	--command-color: 157 137 164;
	--anchor-color: 137 192 212;
	--visited-color: 174 137 255;
	--tooltip-background: 6 0 15;
	--tooltip-border: 31 11 59;
	--card-shadow: 19 15 24;
	--dialog-header: 39 33 60;
	--dialog-background: 31 22 39;
	--input-shadow: 3 3 5;
	--hover-shadow: 9 0 20 / 75%;
	--focus-brightness: brightness(120%);
	--blink-background: 20 9 28;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: background-color 100ms;
}

*::selection {
	color: rgb(var(--editor-background));
	background-color: rgb(var(--focus-border));
}

*:focus {
	outline: none;
}

button {
	font-family: inherit;
	font-size: inherit;
}

body {
	min-height: 100vh;
	color: rgb(var(--primary-color));
	background: linear-gradient(45deg, rgb(var(--surface-1)), rgb(var(--surface-2)), rgb(var(--surface-3)));
	background-attachment: fixed;
}

#app {
	display: flex;
	flex-direction: column;
}

legend {
	font-size: 1.1rem;
	font-weight: 500;
}

form .field {
	display: flex;
	flex-direction: column;
	gap: 6px;
	align-items: center;
}

form .container {
	flex-basis: calc(2rem + 15ch);
	flex-grow: 1;
	text-align: center;
}

form .field span {
	height: 1lh;
}

input,
select {
	font-size: 0.9rem;
}

a {
	position: relative;
	z-index: 1;
	overflow: hidden;
	color: rgb(var(--anchor-color));
}

a:visited {
	color: rgb(var(--visited-color));
}

a:hover {
	filter: brightness(105%) saturate(125%);
}

a::before {
	position: absolute;
	inset: -2px -6px;
	z-index: -1;
	width: calc(100% + 12px);
	height: calc(100% + 4px);
	content: '';
	border: 1px solid rgb(var(--focus-border));
	border-radius: 4px;
	transition: transform 200ms;
	transform: scaleY(0);
}

a:focus::before {
	transform: scaleY(100%);
}

.text-or-number {
	width: calc(100% - 4rem);
	height: var(--icon-size);
	padding-inline: 1rem;
	color: inherit;
	background-color: rgb(var(--input-background));
	border: 2px solid rgb(var(--input-border));
	border-radius: 12px;
	box-shadow: 0 0 16px rgb(var(--input-shadow) / 25%);
	transition:
		border 200ms ease-out,
		box-shadow 200ms ease-out;
}

.text-or-number:hover {
	filter: var(--focus-brightness);
}

.text-or-number:focus {
	--input-border: var(--focus-border);
}

h3 {
	font-family: monospace;
}

:where(h1, h2, h3):not(.highlight, .not-colorize) {
	color: rgb(var(--secondary-color));
}

.highlight .command {
	color: inherit;
}

.highlight .command::before {
	font-weight: 700;
	color: rgb(var(--command-color));
	content: ':';
}

.highlight .optional {
	color: rgb(var(--optional-color));
}

.highlight .optional::before {
	content: '[';
}

.highlight .optional::after {
	content: ']';
}

.highlight .holder {
	font-style: italic;
	color: rgb(var(--holder-color));
	text-transform: capitalize;
}

.highlight .holder::before {
	content: '{';
}

.highlight .holder::after {
	content: '}';
}

.highlight .key {
	color: rgb(var(--key-color));
	text-transform: capitalize;
}

.highlight .key::before {
	content: '<';
}

.highlight .key::after {
	content: '>';
}

.highlight .value {
	color: rgb(var(--value-color));
}

.highlight .symbol {
	color: rgb(var(--symbol-color));
}

.highlight .text {
	color: rgb(var(--string-color));
}

.highlight .text::before,
.highlight .text::after {
	font-weight: 600;
	color: rgb(var(--key-color));
	content: '"';
}

.highlight .number {
	color: rgb(var(--number-color));
}

.highlight .toggle {
	font-style: italic;
	color: rgb(var(--boolean-color));
}

.highlight .options {
	color: rgb(var(--notes-color));
}

.highlight .bold {
	overflow: hidden;
	font-weight: 500;
	text-align: left;
}

.highlight .bold::after {
	content: ':';
}

.monospace,
input {
	font-family: 'JetBrains Mono Variable', sans-serif;
}

.secondary {
	color: rgb(var(--secondary-color));
}

.status-bar {
	position: sticky;
	inset: auto 0;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: rgb(var(--status-bar-background));
}

.status-bar section {
	display: flex;
	align-items: center;
}

.status-icon {
	--border-transparency: 0;

	display: flex;
	gap: 0.2rem;
	align-items: center;
	justify-content: center;
	min-width: var(--icon-size);
	height: var(--icon-size);
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: inherit;
	border: 2px solid rgb(var(--focus-border) / var(--border-transparency));
}

.item-separation {
	gap: 0.5rem;
	padding-inline: 0.6rem;
}

.status-icon:hover {
	filter: var(--focus-brightness);
	backdrop-filter: var(--focus-brightness);
}

.status-icon:focus {
	--border-transparency: 100%;
}

.icon-dialog {
	background-color: rgb(var(--alternative-border));
	border-radius: 12px;
}

@keyframes shake {
	0% {
		transform: rotate(0);
	}

	25% {
		transform: rotate(10deg);
	}

	50% {
		transform: rotate(0);
	}

	75% {
		transform: rotate(-10deg);
	}

	100% {
		transform: rotate(0);
	}
}

.dir-column {
	flex-direction: column;
}

.dir-auto {
	flex-wrap: wrap;
	justify-content: center;
}

.dir-auto-reverse {
	flex-wrap: wrap-reverse;
	justify-content: center;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: end;
}

.justify-start {
	justify-content: start;
}

.justify-between {
	justify-content: space-between;
}

.text-size {
	width: 1.5em;
	height: 1.5em;
}

@media (orientation: portrait) {
	.portrait-hidden {
		display: none;
	}
}

@media (width >= 480px) {
	.status-icon {
		padding-inline: 0.5rem;
	}

	.item-separation {
		gap: 0.9rem;
		padding-inline: 1.2rem;
	}
}

@media (width >= 1024px) {
	:root {
		--icon-size: 44px;
	}
}
