:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgb(255 255 255 / 87%);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizelegibility;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

legend {
	font-weight: 500;
	font-size: 1.1rem;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 6px;
	align-items: center;
}

:where(input, select):focus {
	outline: none;
}

input,
select {
	font-size: 0.9rem;
}

.field :where(input:where([type='text'], [type='number']), select) {
	padding-inline: 1rem;
	height: 40px;
	border-radius: 8px;
	width: min(calc(2rem + 15ch), calc(100% - 4rem));
	background: rgb(26 23 27);
	color: inherit;
	border: 2px solid rgb(63 56 68);
	box-shadow: 0 0 16px rgb(34 30 39);
	transition:
		border 200ms ease-out,
		box-shadow 200ms ease-out;
}

.field :where(input:where([type='text'], [type='number']), select):hover {
	box-shadow: 0 0 8px rgb(62 46 82);
}

.field :where(input:where([type='text'], [type='number']), select):focus {
	border-color: rgb(98 89 105);
}

.field select option {
	height: 40px;
}
